/* card */
.sightcard{
  width: 180px;
  height: 480px;
  position: relative;
  border-radius: 50px;
  transition: all 1s ease 0s;
  transform-origin: 0 100%;
  transition: all 1s ease 0s;
}
.sightcard:hover, .activesightcard:hover{
  cursor: pointer;
}
.sightcard_text{
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  top: 85%;
  left: 10%;
  transition: all 1s ease 0s;
}
.sightcard_title{
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all 1s ease 0s;
}
.card_description{
  opacity: 0;
}

/* active card */
.activesightcard {
  width: 630px;
  height: 480px;
  position: relative;
  border-radius: 50px;
  transition: all 1s ease 0s;
  transform-origin: 0 100%;
  
}

.activesightcard_text{
  position: absolute;
  z-index: 5;
  transform: rotate(0deg);
  transform-origin: 0 0;
  top: 85%;
  left: 10%;
  transition: all 1s ease 0s;
}

.activesightcard_title{
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all 1s ease 0s;
}

.activesightcard_description{
  position: absolute;
  font-size: 1.5rem;
  top: 10%;
  left: 10%;
  right: 10%;
  opacity: 1;
  color: #fff;
  margin-bottom: 2rem;
  transition: all 0.3s ease 0s;
  -webkit-text-stroke: 0.5px #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  transition: all 1s ease 0.3s;
}
.sightcard_img{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  border-radius: 50px;
}
.sightcard_glassmorphism{
  background-color: #3F9EDE;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  z-index: 2;
  align-items: center;
  backdrop-filter: blur(20px);
  opacity: 0.6;
}
.sightcard_glassmorphism:hover{
  background-color: #084b78;
}

@media(max-width: 1200px){
  .sights_container{
    flex-direction: column;
  }
  .sightcard_text{
    transform: rotate(0deg);
  }
  .sightcard{
    width: 100%;
    height: 220px;
  }
  .activesightcard {
    width: 100%;
    height: 660px;
  }
  .sightcard_img{
    width: 100%;
  }
  .sightcard_text{
    top: 65%;
    left: 10%;
  }

  .activesightcard_text{
    top: 85%;
    left: 10%;
  }


}