.component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component_container{
  max-width: 1440px;
}

.resort_bg{
  z-index: -5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resort_bg_image {
  position: absolute;
  right: 0;
  width: 100%;

  object-fit: cover;
}


.sights_container{
  display: flex;
  margin-top: 40px;
}
.sightcard{
  width: 260px;
  height: 660px;
  display: flex;
  position: relative;
  border: 1px solid #2D71B2;
  border-radius: 50px;
  margin: 10px;
  transition: all 0.3s ease 0s;
  align-items:flex-end;
}
.activesightcard {
  width: 630px;
  height: 660px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 50px;
  margin: 10px;
  transition: all 0.5s ease 0s;
}

.sightcard:hover, .activesightcard:hover{
  cursor: pointer;
}
.sightcard_text{
  position: absolute;
  margin: 10px;
  z-index: 5;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.activesightcard_text{
  margin-left: 30px;
  transform-origin: 0 0;
  transition: all 1s ease 0s;

}
.sightcard_title{
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.activesightcard_title{
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.activesightcart_description{
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
  transition: all 0.3s ease 0s;
  -webkit-text-stroke: 0.5px #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.sightcard_img{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  border-radius: 50px;
}
.sightcard_glassmorphism{
  background-color: #3F9EDE;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  z-index: 2;
  align-items: center;
  backdrop-filter: blur(20px);
  opacity: 0.6;
}
.sightcard_glassmorphism:hover{
  background-color: #084b78;
}

@media(max-width: 1200px){
  .sights_container{
    flex-direction: column;
  }
  .sightcard_text{
    transform: rotate(0deg);
  }
  .sightcard{
    width: 100%;
    height: 220px;
  }
  .activesightcard {
    width: 100%;
    height: 660px;
  }
  .sightcard_img{
    width: 100%;
  }

}