
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 200px;
    border-radius: 30px;
    background:#2D70B2;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border: 2px solid #2D71B2;
}
.container:hover{
    background: #FFF;
    border: 2px solid #2D71B2;
    cursor: pointer;
    color: #2D70B2;
}
.button_text:hover{
    color: #2D70B2;
    cursor: pointer;
}
@media(max-width:600px){
    .container{
        border-radius: 30px;
        padding: 10px 20px;
    }
    
}
@media(max-width:400px){
    .container{
        border-radius: 30px;
        margin-top: 10px;
        padding: 8px 20px;
    }
    
}
