.container{
    width: 340px;
    margin-left: 30px;
}
.item{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.flag{
    display: flex;
    width: 20px;
    
}
.flag_img{
    width: 100%;
    object-fit:contain;
    border: 0.3px solid #2D70B2;
}
.text{
    display: flex;
    width: 200px;
    color: #2D70B2;
}
.code{
    font-weight: bold;
    margin-left: 10px;
}
.name{
    margin-left: 10px;
}
.input{
    width: 80px;
    border: 1px solid #2D70B2;
    border-radius: 5px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
.source{
    font-size: 10px;
    color: gray;
}
@media(max-width:600px){
    .container{
        margin-top: 20px;
    }
}