
.anchor{
    opacity: 0.7;
    border-radius: 50%;
    background:  #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    position: fixed;
    width: 80px;
    height:80px;
    top: 80% ;
    right: 2%;
    z-index: 100001;
    overflow: hidden;
    }