
  .open {
    display: flex;
    position: relative;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 68, 112, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000008;
  }
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .iframe {
    width: 90%;
    height: 90%;
  }
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }