
.component_container{
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
}
.component_title{
    color: var(--primary-color);
    font-weight: 800;
    font-size: min(max(26px, 4vw), 40px);
    text-transform: uppercase;
}
.dot{
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.line{
    flex-grow: 1;
    overflow: hidden;
    border-bottom: 4px solid #2D70B2;
}