.header_logo {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.logo{
    position: relative;
}
.logo_img{
    position: relative;
    z-index: 6;
}

.logo_title{
    font-size: 18px;
    line-height: 161.7%;
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0;
    z-index: 6;
}
.logo_subtitle{
    font-size: 14px;
    color: var(--primary-color);
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    z-index: 6;
}

.menu_item{
font-size: 22px;
color: var(--primary-color);
font-weight: 800;
text-transform: uppercase;
text-align: left;
transition: all 0.3s ease 0s;
background-image: linear-gradient(
    to right,
    #6AB0EB,
    #6AB0EB 50%,
    var(--primary-color) 50%
);
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 5px 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.3s ease-in-out;
}

.menu_item:before{
content: '';
background: #6AB0EB;
display: block;
position: absolute;
bottom: -3px;
left: 0;
width: 0;
height: 3px;
transition: all 0.3s ease-in-out;
}

.menu_item:hover {
background-position: 0;
}

.menu_item:hover::before{
width: 100%;
}

@media(max-width: 768px){
    .logo_title{
        font-size: 13px;
    }
    .logo_subtitle{
        font-size: 12px;
    }
    .menu_container{
        margin-top: 20px;
    }
}