.hotel_stars{
    display: flex;
    margin-right: min(max(10px, 1vw), 60px)
}
.hotel_star{
    width: min(max(16px, 4vw), 60px);
    height: min(max(16px, 4vw), 60px);
    margin-right: min(max(10px, 1vw), 20px)
}
.hotel_star:last-child{
    margin-right:0;
}
.hotel_content{
    display: flex;
    margin-top: 60px;
}
.hotel_image{
    display: flex;
    width: min(max(400px, 40vw), 600px);
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #2D71B2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.hotel_img{
    object-fit: cover;
    width: 100%;
}

.hotel_info{
    margin-left: 60px;
    width: 60%;
}
.servise_item{
    display: flex;
    margin-top: 20px;
}
.button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 30px; 
    margin-top: 15px;
}

@media (max-width: 1024px) {
    .hotel_content{
        display: flex;
        flex-direction: column;
    }
    .hotel_image{
        width: 100%;
    }
    .hotel_info{
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    .button_container{
        padding-right: 0px; 
    }
}
