.room_container {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #2D70B2;
    background: #FFF;
    display: flex;
    margin: 70px auto;
    padding-bottom: 10px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}
.room_container:hover{
    border: 2px solid #fff;
    background: #D0EBFF;
}

.room_image {
    display: flex;
    overflow: hidden;
    border-radius: 50px;
    margin: 30px;
    margin-right: 25px;
    flex-basis: 40%;
}

.room_img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.info {
    margin: 30px 30px 30px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.title {
    width: 70%;
    font-size: min(max(16px, 4vw), 26px);
    text-transform: uppercase;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 10px;
}

.describe {
    width: 100%;
    flex-grow: 1;
    font-size: min(max(14px, 4vw), 20px);
}

.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end; 
}

.icons {
    display: flex;
    align-items: flex-start;
    align-items: flex-end; 
}

.bedx2,
.bedx1,
.sofa {
    display: flex;
    margin-right: 10px;
    align-items: flex-end; 
}

.icon_img {
    height: 100%;
    width: auto;
    margin-right: 5px;
}

.button_container {
    margin-left: auto;
    align-items: flex-end; 
}

@media(max-width:768px){
    .room_container{
        flex-direction: column;
        padding: 10px;
    }
    .room_image{
        width: 100%;
        margin: 0;
    }
    .title{
        width: 100%;
        margin-top: 10px;
    }
    .info{
        margin: 5px;
    }
    .button_container{
        padding-right: 0px; 
        margin-bottom: 10px;
    }
    .icons{
        margin-bottom: 10px;
    }
    .bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
